/* tripulante flutuando no fundo */

.size {
  width: fit-content;
  height: fit-content;
  animation: move 22s infinite;
  position: absolute;
  top: 25%;
  z-index: 1;
  transform: scale(0.4);
  opacity: 0.5;
}
.player {
  background-color: #840931;
  border: 10px solid #000;
  border-bottom: none;
  border-radius: 60px 80px 0 0;
  height: 200px;
  width: 140px;
  margin: auto;
  top: 50px;
  left: -15px;
  z-index: 1;
  animation: rotate 15s infinite;
}
.player:after {
  content: "";
  position: absolute;
  width: 92%;
  height: 85%;
  background-color: #ea1616;
  border-radius: 58% 70% 28% 42% / 28% 56% 88% 89%;

  top: 2.5px;
  left: 6px;
}

.legs{
    height: 50px;
    width: 60px;
    background-color: #840931;
    position: absolute;
    left: -10px;
    bottom: -50px;
    border: 10px solid black;
    border-top: none;
    border-radius: 0 0 22px 22px;
}
.legs:after{
    content: "";
    height: 10px;
    width: 55px;
    background-color: black;
    position: absolute;
    top: -10px;
    left: 40px;
    border-radius: 0 0 10px 0;
}

.back{
    height: 120px;
    width: 35px;
    background-color: #ea1616;
    border: 10px solid black;
    border-right: none;
    position: absolute;
    left: -45px;
    top: 65px;
    border-radius: 20px 0 0 20px;
}
.back:before{
    content: "";
    position: absolute;
    height: 78px;
    width: 26px;
    background-color: #840931;
    bottom: -0.5px;
    left: -1px;
    border-radius: 12px 0 0 8px;
}
.glass{
    height: 75px;
    width: 110px;
    background-color: #225381;
    position: absolute;
    top: 30px;
    left: 40px;
    border: 10px solid black;
    border-radius: 25px 50px 30px 30px;
    z-index: 2;
}
.glass:before{
    content: "";
    position: absolute;
    width: 85%;
    height: 65%;
    background-color: #71d4ec;
    border-radius: 0 28px 3px 30px;
    right: 0px;
    top: 0px;
}
.glass:after{
    content: "";
    position: absolute;
    width: 45%;
    height: 22%;
    background-color: #f7f7f7;   
    left: 39px;
    top: 5px;
    border-radius: 25px;
    -webkit-transform: rotate(6deg);
        -ms-transform: rotate(6deg);
            transform: rotate(6deg);
}
